/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

input[type="text"]:focus, 
input[type="email"]:focus,
.favouritesong:focus {
  border: 3px solid red;
}

fieldset {
  text-align: left;
  border:none;
  width:100%;
}

legend {
  color: #d4d0ab;
  font-size: 1.15rem;
  font-weight: 500;
  border-bottom:1px solid #d4d0ab;
}

label:not([class="radio-label"]) {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}


/* change the input width */
input:not([type="radio"]),
select,
textarea {
  width: 100%;
}

label,
input,
select,
textarea {
  font-size: 1.1rem;
}

.button {
  margin-top: 50px;
}

.descriptions {
  font-size: 0.9rem;
  font-style: italic;
}

.hints {
  text-align: right;
  line-height: 0.9;
  margin-top: 5px;
  margin-bottom: 0;
}

.container {
  text-align: center;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }

  form {
    margin: 0;
  }

  fieldset {
    border: 1px solid #d4d0ab;
    padding:20px;
    margin:0 auto;
  }

  legend {
    border:none;
        font-size: 1.25rem;

  }
  
  
  label,
  input,
  select,
  textarea {
    font-size: 1.2rem;
  }
  
  .descriptions {
    font-size: 1rem;
  }
  
  .hints {
    line-height: 1;
  }
}
